* {
  box-sizing: border-box;
}

container{height: 100%;}

body {
  display: flex;
  align-items: center;
  font-family: Helvetica Neue;
  justify-content: center;
  background-color: black;
  color: black;
}

body{
  background-color: #151823;
}

body:after
{

  position: absolute;
  content: "";
  top: 0vw;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 60%;
  margin: 0 auto;
  transform: scale(1);
  -webkit-filter: blur(5vw);
  -moz-filter: blur(5vw);
  -ms-filter: blur(5vw);
  filter: blur(5vw);
  background: linear-gradient(270deg, #0fffc1, #7e0fff);
  background-size: 200% 200%;
  animation: animateGlow 10s ease infinite;
}

@keyframes animateGlow {
  0% {
    background-position: 200% 200%;
  }
  50% {
    background-position: 200% 200%;
  }
  100% {
    background-position: 200% 200%;
  }
}
@keyframes textColor {
  0% {
    color: #7e0fff;
  }
  50% {
    color: #0fffc1;
  }
  100% {
    color: #7e0fff;
  }
}

.panel-default > .panel-body
{
  height: 100%;
  
  background-color: #151823;
  color: #ffffff;
}

.panel-default > .panel-heading
{
  height: 100%;
  background-color: #0F1117;
  color: #ffffff;
  border-color: black;
}

.panel
{
  height: 100%;
  border-color: black;
  background-color: #151823;
}

a:link 
{
  color: #FF0000;
}

a:visited{
  color: #8B0000;
}

.btn-draw {
  position: relative;
  display: inline-block;
  color: #324577;
  border-bottom: 2px solid #324577;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.btn-draw:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 2px;
  background: #324577;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.btn-draw > span {
  position: relative;
  display: block;
  padding: 0.5em;
  color: inherit;
}
.btn-draw > span:before, .btn-draw > span:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: #324577;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.btn-draw > span:before {
  height: 2px;
  width: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.btn-draw > span:after {
  height: 100%;
  width: 2px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.btn-draw:hover:after, .btn-draw:hover > span:before, .btn-draw:hover > span:after {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.btn-draw:hover:after {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.btn-draw:hover > span:before {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.btn-draw:hover > span:after {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.btn-draw:hover {
  color: #e4e4e2;
  background-color: black;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}