* {
  box-sizing: border-box;
}


body {
  display: flex;
  align-items: center;
  font-family: Helvetica Neue;
  justify-content: center;
  background-color: black;
  color: black;
}

.container{
  background-color: #151823;
}

.container:after
{

  position: absolute;
  content: "";
  top: 5vw;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.75);
  -webkit-filter: blur(5vw);
  -moz-filter: blur(5vw);
  -ms-filter: blur(5vw);
  filter: blur(5vw);
  background: linear-gradient(270deg, #0fffc1, #7e0fff);
  background-size: 200% 200%;
  animation: animateGlow 10s ease infinite;
}

@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes textColor {
  0% {
    color: #7e0fff;
  }
  50% {
    color: #0fffc1;
  }
  100% {
    color: #7e0fff;
  }
}

.panel-default > .panel-body
{
  background-color: #151823;
  color: #ffffff;
}

.panel-default > .panel-heading
{
  background-color: #0F1117;
  color: #ffffff;
  border-color: black;
}

.panel
{
  border-color: black;
  background-color: #151823;
}

a:link 
{
  color: #FF0000;
}

a:visited{
  color: #8B0000;
}
